video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.container {
  width: 600px;
  height: 200px;
  position: fixed;
  bottom: 0;
}

.navigation {
  font-size: 21px;
  font-family: 'LincolnMITRE-LM7x9', sans-serif;
  bottom: 0;
  width: 100%;
  position: absolute;
  text-align: left;

}


a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

a:active {
  color: #ffffff;
  text-decoration: none;
}

.about {
  width: 400px;
  height: 200px;
  display: inline-block;
  position: fixed;
  font-size: 21px;
  font-family: 'LincolnMITRE-LM7x9', sans-serif;

}

.int {
  width: 300px;
  height: 200px;
  display: inline-block;
  position: fixed;
  left: 400px;
  top: 200px;
  font-size: 13px;
  font-family: 'LincolnMITRE-LM7x9', sans-serif;

}


.photo {
width: 800px;
height: 1200px;
display: inline-block;
position: absolute;
left: 50%;
top: 0;

}
